:root {
--color-white: #ffffff;
--color-grey: #333333;

}

*, *::before, *::after { margin:0; padding:0;box-sizing: inherit;}

body {
  background: aqua;
  background-image: url("/public/images/bg.jpg");
  background-position: center;
  background-repeat: no-reoeat;
  background-attachment: fixed;
  background-size: cover;

}

p, li {
  font-size: clamp(17px, 4vw, 21px)
}

h1 {
  font-size: clamp( 41px, 4vw, 58px);
  font-weight: 800;
  text-align: center;
  padding: 15px;
}

.quiz-card, .quiz-result {
  background-color: white;
  border-radius: 13px;
  padding: 13px;
  padding: 40px;
  opacity: 0.91;
  border: 5px solid navajowhite;
}

.quiz-card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.quiz-card ul li {
  padding: 10px;
}
.quiz-card ul li:hover {
  background-color: aqua;
}